<form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="first_name" name="first_name" placeholder="First Name">
    <input type="text" [(ngModel)]="last_name" name="last_name" placeholder="Last Name">
    <input type="text" [(ngModel)]="middle_initial" name="middle_initial" placeholder="Middle Initial">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
    <input type="text" [(ngModel)]="grade" name="grade" placeholder="Grade">
    <input type="text" [(ngModel)]="school" name="school" placeholder="School">
    <input type="date" [(ngModel)]="date_of_birth" name="date_of_birth" placeholder="Date_of_birth">
    <input type="text" [(ngModel)]="phone_number" name="phone_number" placeholder="Phone Number">
    <input type="text" [(ngModel)]="address_1" name="address_1" placeholder="Address 1">
    <input type="text" [(ngModel)]="address_2" name="address_2" placeholder="Address 2">
    <input type="text" [(ngModel)]="city" name="city" placeholder="City">
    <input type="text" [(ngModel)]="state" name="state" placeholder="State">
    <input type="text" [(ngModel)]="country" name="country" placeholder="Country">
    <input type="date" [(ngModel)]="created_date_time" name="created_date_time" placeholder="Created_date_time">
    <input type="date" [(ngModel)]="updated_date_time" name="updated_date_time" placeholder="Updated_date_time">
    <input type="secret" [(ngModel)]="password" name="password" placeholder="Password">
    <input type="file" (change)="onFileSelected($event)" name="imageFile">
    <button type="submit">Submit</button>
    <!-- <div class="col social_icons">
        <a (click)="signInWithGoogle()" class="google btn"><i class="fa fa-google fa-fw">
            </i> Register with Google+  
        </a>
    </div> -->
</form>


  <!-- <form [formGroup]="registrationForm" action="#">
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter User ID" type="text" id="user_id" formControlName="userId"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter First Name" type="text" id="first_name" formControlName="firstName"/>
            <div class="valid" *ngIf="registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched">
                Please enter your first name
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Last Name" type="text" id="last_name" formControlName="lastName"/>
            <div class="valid" *ngIf="registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched">
                Please enter your last name
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Middle Initial" type="text" id="middle_initial" formControlName="middleInitial"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Email" type="text" id="email" formControlName="email" autocomplete="nope"/>
            <div class="valid" *ngIf="registrationForm.get('email')?.hasError('pattern') && registrationForm.get('email')?.touched">
                Should be in correct format ex: john@gmail.com
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Date of Birth" type="date" id="date_of_birth" formControlName="dateOfBirth"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Phone Number" type="text" id="phone_number" formControlName="phoneNumber"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Address 1" type="text" id="address_1" formControlName="address1"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Address 2" type="text" id="address_2" formControlName="address2"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter City" type="text" id="city" formControlName="city"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter State" type="text" id="state" formControlName="state"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Country" type="text" id="country" formControlName="country"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Created Date Time" type="datetime-local" id="created_date_time" formControlName="createdDateTime"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Updated Date Time" type="datetime-local" id="updated_date_time" formControlName="updatedDateTime"/>
        </div>
        <div class="col-xl-6 col-md-6">
            <input placeholder="Enter Password" type="password" id="password" formControlName="password"/>
        </div>
    </div>
    <div class="col-xl-12">
        <button type="submit" class="boxed_btn_orange" [disabled]="!registrationForm.valid" (click)="register()">Register</button>
    </div>
</form>

   -->