.navbar-brand{line-height:5px!important;}
    table td ul li{list-style: none;}

        table td{margin: 0;
   padding: 10px;
    text-align: center;
   }
table th{text-align: center;text-transform: capitalize;}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.edit {
    color: #4400B3;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
} 
.border-box {
    overflow-y: scroll;
    height: 455px;
    border-radius: 15px 8px 8px 15px;
}
a.reg{margin: 0 auto;
    text-align: center;
    /* position: relative; */
    display: block;
    width: 250px;
    text-decoration: none;
    cursor: pointer;}
.get_but:hover,.get_but:hover i,a.reg:hover {
  background-color: #4C00C8;
  color: white;
}