<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/font-awesome.css" rel="stylesheet" /> -->


<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
    <!-- start header -->
    <header>
         <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header col-4 col-md-4 col-sm-4">
                    <span class="navbar-brand logo megrim-regular openav" (click)="openNav1()"><</span>
                </div>
             <div class="text-center col-4 col-md-4 col-sm-4">
                 <p class="welcome_note">INTRODUCTION TO PROGRAMMING</p>
             </div>
                <div class="text-right col-4 col-md-4 col-sm-4">
                    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                
                    <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Pricing</a>
  <a href="#">Contact</a>
</div>
<span class="openav" (click)="openNav()">&#9776;</span>
</div>
                </div>
                </div>
    </header>
    <!-- end header -->
    <div id="mySidenav1" class="sidenav1">
        <a href="javascript:void(0)" (click)="closeNav1()">&times;</a>
        <a>Week 6</a>
        <a (click)="videoPlay(selectedCourse)">String manipulation Video</a>
        <a>String Slicing Video</a>
        <a>Week 6</a>
        <!-- Chat Box -->
    <button class="open-button" onclick="openForm()"><img src="assets/images/ravi_chat.png"></button>

    <div class="chat-popup" id="myForm">
        <form action="" class="form-container">
            <div class="card">
                <button type="button" class="btn cancel" onclick="closeForm()">&times;</button>
                <div id="message-section">
                    <div class="message"><span id="bot-response"><img src="assets/images/ravi_chat.png"><br>hi, my name is ravi uncle.<br> how can i help you today?</span></div>
                </div>
                <div id="input-section">
                    <input id="input" type="text" placeholder="" autocomplete="off" autofocus="autofocus" />
                    <button class="send" onclick="sendMessage()">
                        <div class="circle"><i class="zmdi zmdi-mail-send"></i></div>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- End Chat Box -->
  </div>
  <section id="call-to-action-2" class="onboard">
      <div class="container">
          <div class="row">
              <div id="mainContent" class="col-md-12 col-sm-12">
                  <div class="border_box">
                      <div class="col-md-10 col-sm-12">
                          <img src="./images/user.jpg">
                          <h2>Welcome {{name}}</h2><span>Grade:Undergarduate</span>
                          <p>this week's Progress (1/7)</p>
                          <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    <span class="sr-only">70% Complete</span>
  </div>
</div>
                           <!-- <progress id="file" value="30" max="100">  </progress> -->
                      </div>
                      <div class="col-md-2 col-sm-12">
                          <div class="missing_assign">
                              2<br><span>missing assignments</span>
                          </div>
                      </div>
                  </div>
                  <div class="grades_table">
                      <h3>Your Grades</h3>
                  <table class="table table-bordered">
                      <tbody>
                        <tr *ngFor="let key of assignmentKeys()" (click)="selectSubcategoryAndType(key.split(' ')[0], key.split(' ')[1])">
                          <td align="center"><i class='fa fa-pencil'></i></td>
                          <td>{{ key.split(' ')[0] }}</td>
                          <td>{{ key.split(' ')[1] }} <span style="float:right;"><i class='fa fa-long-arrow-right'></i></span></td>
                          <td>{{ groupedAssignments[key].length }}/5</td>
                        </tr>
                      </tbody>
                  </table>
         </div>     
        </div>
          
      </div>
  

</div>
  </section>
  <section id="assignments-section" class="assignments" *ngIf="selectedAssignmentType && selectedSubcategory">
      <div class="container">
          <div class="row">
              <div id="assignmentDetails" class="col-md-12 col-sm-12">
                  <h3>Assignments for {{ selectedSubcategory }} {{ selectedAssignmentType }}</h3>
                  <ul class="list-group">
                      <li *ngFor="let assignment of filteredAssignments" class="list-group-item">
                          {{ assignment.q }} ({{ assignment.q_type }})
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
</div>
</body>
</html>
