<form [formGroup]="loginForm" action="#">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <input type = "text" formControlName="email" placeholder="Enter Email"/>
        </div>
        <div class="col-xl-12 col-md-12">
            <input type = "secret" formControlName="password" placeholder="Enter Password"/>
        </div>
        <div class="col-xl-12">
            <button type="submit" (click)="onSubmit()">Login</button>
        </div><br><br>
    </div> 
</form>