<form [formGroup]="editForm" (ngSubmit)="editStudentFormSubmit()">
    <input type="text" formControlName="first_name" placeholder="First Name">
    <input type="email" formControlName="email" placeholder="Email">
    <input type="text" formControlName="grade" placeholder="Grade">
    <input type="text" formControlName="school" placeholder="School">
    <input type="date" formControlName="date_of_birth" placeholder="Date of Birth">
    <input type="text" formControlName="phone_number" placeholder="Phone Number">
    <input type="text" formControlName="address_1" placeholder="Address">
    <button type="submit">Submit</button>
  </form>
  