.navbar-brand{line-height:5px!important;}
.welcome_note{background: linear-gradient(59.12deg, #DBE1FF 8.07%, #ADACFF 93.03%);
    position: absolute;
    top: 11px;
    padding: 10px;
    border-radius: 10px;
    color: #4C00C8;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.navbar-default .navbar-toggle .icon-bar{background:#4C00C8!important;}
.get_but{width: 100%;
    position: absolute;
    top: 320px;font-size: 30px;height:50px;}
.text-right .navbar-brand{width: auto;
    /* margin: 0 auto; */
    float: right;}
 .navbar-toggle{display:block!important;background: linear-gradient(255.7deg, #DBE1FF 8.56%, #ADACFF 93.43%);}
 .navbar-collapse.collapse{display: none!important;text-align: center!important;}
 .navbar-default .navbar-collapse{
border-color: none;
background: #000000;text-align:center!important;
}
.navbar-default .navbar-toggle .icon-bar {background-color: #868686;border-radius: 0;}
.navbar-toggle{display:block!important;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(221, 221, 221, 0);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
margin-top: 45px;
    position: absolute;
    width: 100%;
}
.navbar-nav {
        border-top: none;
        float: none!important;
        width: 100%;
        margin-top: 0px!important;
    padding: 10px;
    }
header .navbar-nav > li > a{border: 0 !important;
    border-radius: 0px !important;}
.navbar-nav>li{float:none!important;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover {
background: none;
font-weight: 700;
color: #FFFFFF;
}
    header .navbar-nav > li {
padding-bottom: 2px;
padding-top: 3px;
margin-left:0!important;
}
    header .nav li .dropdown-menu  {
        margin-top: 0;
    }

    .dropdown-menu {
      position: absolute;
      top: 0;
      left: 40px;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 13px;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #f5f5f5;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 0;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
              box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    

    
    li.active  {
        border: none;
        overflow: hidden;
        background:#4400B3;
}

body{background: #fff!important;}
    .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  box-shadow: -7px 4px 4px 0px #00000040;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background: #ddd;
  margin: 20px 0;
    border-radius: 5px;
}

.sidenav a:hover {
  color: #4400B3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  margin-top:0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  box-shadow: -7px 4px 4px 0px #00000040;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background: #ddd;
  margin: 20px 0;
    border-radius: 5px;
}

.sidenav1 a:hover {
  color: #4400B3;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  margin-top:0;
}

@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}
.openav{font-size: 25px;
    cursor: pointer;
    background: linear-gradient(255.7deg, #DBE1FF 8.56%, #ADACFF 93.43%);
    padding: 0 10px;
    position: relative;
    top: 18px;
    border-radius: 5px;
}


/*Responsive*/
  @media (min-width: 320px) and (max-width: 460px) {
    .get_but{width:auto!important;top:115px;left:0;right:0;}
    .text-right,.text-left{padding:0;margin: 0;}
    .welcome_note{font-size:10px;width:170px;padding: 4px 1px;}
    .text-center{float: none;}
  }
