<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper" class="home-page">
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header col-6 col-md-6 col-sm-12">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo megrim-regular" href="index.html"><</a>
                </div>
                <div class="text-center col-6 col-md-6 col-sm-12">
                <a class="navbar-brand logo megrim-regular" href="index.html">A</a>
                </div>
                <!-- <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="home.html">Home</a></li> 
                                    <li><a href="about.html">About</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                    </ul> -->
                </div>
            </div>
    </header>
    <!-- end header -->
    <section id="call-to-action-2" class="onboard">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <div class="border-box">
                      <p><span>Questions Upload</span></p>
                      <form [formGroup]="questionForm">
                      <div class="">
                        <!-- Course Selection -->
                        <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                          <label for="course" class="form-label required">Choose Course:</label>
                          <select id="course" formControlName="course" (change)="onCourseChange()" class="form-control">
                            <option *ngFor="let course of courses" [ngValue]="course">{{ course.course_name }}</option>
                          </select>
                        </div>
                        
                        <!-- Category Selection -->
                        <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                          <label for="category" class="form-label required">Choose Category:</label>
                          <select id="category" formControlName="category" class="form-control" [disabled]="categories.length === 0">
                            <option *ngFor="let category of categories" [ngValue]="category">{{ category.category_name }}</option>
                          </select>
                        </div>
                        
                        <!-- Students Selection -->
                        <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                          <label for="student" class="form-label required">Select Students:</label>
                          <input type="text" class="form-control mb-2" placeholder="Search students..." (input)="onSearch($event)">
                          <div class="dropdown-container">
                              <div class="dropdown-options">
                                <div *ngFor="let student of filteredStudents" class="form-check">
                            <input type="checkbox" [checked]="isStudentSelected(student.user_id)" (change)="onStudentSelect($event, student)"> {{ student.first_name }}
                          </div>
                        </div>
                        </div>
                      </div>
                        <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                          <label for="course" class="form-label">Difficulty:</label>
                            <select name="diff" id="diff" formControlName="diff" class="form-control">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                         </div>
                         <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                          <label for="assignment" class="form-label required">Assignment Type:</label>
                            <select name="assignment" id="assignment" formControlName="assignment" class="form-control">
                              <option value="hw">HomeWork</option>
                              <option value="qz">Quiz</option>
                            </select>
                         </div>
                        <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                         <label for="qtype" class="form-label required">Question Type:</label>
                           <select name="qtype" id="qtype" formControlName="q_type" class="form-control" (change)="onQTypeChange($event)">
                             <option value="dque">Direct Questions</option>
                             <option value="mcq">MCQ</option>
                           </select>
                        </div>
                         <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                            <label for="exampleFormControlInput1" class="form-label required">Enter Question Here</label>
                             <textarea id="questions" name="questions" rows="3" formControlName="q" class="form-control" cols="20"></textarea>
                          </div>
                          <div *ngIf="isMCQSelected==true" class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                            <label for="exampleFormControlInput1" class="form-label">Enter Options Here</label>
                            <div formArrayName="options">
                              <div *ngFor="let option of options.controls; let i = index" [formGroupName]="i">
                                <input type="text" class="form-control" placeholder="Option {{i + 1}}" (blur)="getOptionName(i,$event)" formControlName="o_text"><br>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-12 col-md-12" style="margin-bottom: 10px;">
                            <label for="exampleFormControlInput1" class="form-label required">Enter Answer Here</label>
                             <textarea id="questions" name="questions" formControlName="q_ans" rows="3" class="form-control" cols="20"></textarea>
                          </div>
                           <div class="col-xl-12 btnn">
                            <button routerLink="/lessons" type="submit" class="log get_but">Lessons Upload <i class="fa fa-arrow-right" disabled aria-hidden="true"></i></button>
                            <button (click)="onSubmit()" *ngIf="questionForm.valid" type="submit" class="log get_but">Submit <i class="fa fa-arrow-right" disabled aria-hidden="true"></i></button>
                            <button (click)="alertMessage()" *ngIf="!questionForm.valid" type="submit" class="log get_but">Submit <i class="fa fa-arrow-right" disabled aria-hidden="true"></i></button>
                            <a (click)="questionsList()" class="reg">Questions List</a>
                          </div>
                      </div>
                      <div *ngIf="alert" class="alert-danger">
                        {{ alert }}
                      </div>
                  
                  
