.navbar-brand{line-height:5px!important;}
.get_but {
    width: 220px;
    margin-bottom: 14px;
    /*height: 33px;*/
    line-height: 15px;
    margin-top:15px;
    cursor:pointer;
}
.onboard .fa{padding-top: 1px;}
label{color: #380093 !important;
    font-size: 13px;}
.border-box {
    overflow-y: scroll;
    height: 455px;
    border-radius: 15px 8px 8px 15px;
}
a.reg{margin: 0 auto;
    text-align: center;
    /* position: relative; */
    display: block;
    width: 250px;
    text-decoration: none;
    cursor: pointer;}
.get_but:hover,.get_but:hover i,a.reg:hover {
  background-color: #4C00C8;
  color: white;
}
.btnn p{line-height:0;}
.alert {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-success{border: 2px solid #155724;color:#155724;width: 500px;text-align: center;margin:0 auto;}
  .alert-danger {border: 2px solid #721c24;color:#721c24;width: 500px;text-align: center;margin:0 auto;}
  /*.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-danger {
    
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }*/
  .navbar-brand{line-height:5px!important;}
.onboard .fa{padding-top: 1px;}
  #call-to-action-2 p{font-size: 17px;}

  /*.border-box{text-align:center;}*/
  #code{text-align: center;
    border: 0;
    border-bottom: 1px solid #333;
    box-shadow: none;
    border-radius: 0;
    background: none;
    width: 290px;
    margin: 0 auto;
    font-size: 18px;
}
.invalid-feedback {
    color: red;
    font-size: 0.875em;
  }
  
  input.ng-invalid.ng-touched {
    border-color: red;
  }

  .required::after {
    content: "*";
    color: red;
  }
  input::file-selector-button {
  font-weight: bold;
  color: #380093;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}


.file-input {
  display: inline-block;
  text-align: left;
  background: #f8f8f8;
  padding: 5px;
  width: 100%;
  position: relative;
  border-radius: 3px;
}

.file-input > [type='file'] {
 /* position: absolute;
  top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
  /*opacity: 0;*/
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}

/* lessons.component.css */
.dropdown-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background-color: #fff;
}

.dropdown-options {
  max-height: 120px;
  overflow-y: auto;
}

.form-check {
  padding: 5px;
  cursor: pointer;
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  cursor: pointer;
}
