<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">


</head>
<body>
<div id="wrapper" class="home-page">

	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo megrim-regular" href="index.html">A</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="home.html">Home</a></li> 
						            <li><a href="about.html">About</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h3 class="megrim-regular"><span class="title1">A</span><span class="title2">r</span><span class="title1">i</span><span class="title2">v</span><span class="title2">u</span></h3>
					<p>welcome to the next evolution of <span>ai-powered</span> education.</p>
           <div class="btnn">
             <button class="reg" (click)="redirectToRegister()">Sign up</button>&nbsp;&nbsp;
             <button class="log" (click)="redirectToLoginPage()">Login</button>            
           </div>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->
<!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo megrim-regular" href="index.html">A</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a routerLink="/home">Home</a></li> 
						            <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h3 class="megrim-regular"><span class="title1">A</span><span class="title2">r</span><span class="title1">i</span><span class="title2">v</span><span class="title2">u</span></h3>
					<p>welcome to the next evolution of <span>ai-powered</span> education.</p>
           <div class="btnn">
             <button class="reg home_but" (click)="redirectToRegister()">sign up for our beta waitlist <i class="fa fa-chevron-right" aria-hidden="true" style="float:right;line-height: 23px;color: #000;"></i></button><br><br>          <span class="span_text">our official launch is at the end of summer 2024.</span>
           </div>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
<style>.navbar-brand{line-height:5px!important;}</style>
</html>